* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

:root{
  --primary: #3CCBCE;
  --black: #000000;
  --grayDark: #141414;
  --grayDarkMedium: #332f2f;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #085A8A;
  --backEnd: #0D7173;
}

html,
body{
  margin: 0;
  padding: 0;
}

body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}

@media(max-width: 800px){
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}

a{
  color: inherit;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}
